.cover__subtitle {
  max-width: 360px;
  margin: 0 auto 245px auto;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  z-index: 2;
}

@media screen and (max-width: 1140px) {
  .cover__subtitle {
    max-width: 360px;
    margin: 0 332px 195px;
  }
}

@media screen and (max-width: 984px) {
  .cover__subtitle {
    max-width: 360px;
    margin: 0 204px 115px;
  }
}

@media screen and (max-width: 568px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 0 16px 33px 16px;
    font-size: 14px;
    line-height: 16px;
  }
}