.place__website {
  max-width: 456px;
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 984px) {
  .place__website {
    max-width: 352px;
  }
}  
@media screen and (max-width: 568px) {
  .place__website {
    max-width: 288px;
    margin: 0 16px;
  }
}